
.button--state-success {	
	height:85px;
	width:395px;
	border-radius:9px;
	color: #FFF;
	background: #606c88;
	font-size:23px;
	border-color: #4A993E;

}


.form__button {
	height:85px;
	width:395px;
	border-radius:9px;
	color: #FFF;
	background:#7FD151;
	font-size:23px;
	border-color: #4A993E;
	width:100%;

}

.order__button {
	width:264px;
	background-color: #7FD151;
	
}

.viewinput {
	text-align:center;
}

.dropbtn {
	float:left;
	
	
}

.stylizing {
	text-decoration: none;
	color:white;
	padding-top:20px;
}