.button--state-success {	
	height:85px;
	width:395px;
	border-radius:9px;
	color: #FFF;
	background: #606c88;
	font-size:23px;
	border-color: #4A993E;

}

.form__button {
	height:85px;
	width:392px;
	border-radius:9px;
	color: #FFF;
	background:#7FD151;
	font-size:23px;
	border-color: #4A993E;

}


.form__button__submit
{
	width:100%;
	text-align: center;
	border: 1px solid #C2C2C2;
}

.form__order__button {
	width:281px;
		
}

.link--style {
	text-decoration: none;
	color:white;	
}

.form__button__verify {
	font-weight: bold;
	font-size:35px;		
}

.form__button--color  {
	background-color: #6EC200;
}

