{% extends 'base.html' %}

{% block content %}

  <div class = "content--menu">
    <main class="page-content">
      <section class="page page-register gradient__ciorba">
         <div class="content">

            <article class="card card__verify">
              <form class="form" action="" method="post">

                {% csrf_token %}

                  <div class="form__group">

   			            <input class="form__input form__component form__input__check
                    form__verify__input" placeholder="Enter Code" id="id_code" maxlength="100" name="code" type="text">
                    
                    <button type="submit"   class="form__button form__button__verify" >Verifica</button>
                     
                  </div>
   
    
    
              </form>
      
            </article>
    
      </section>
    
    </main>

  </div>

{% endblock content%}


