.error_show {
	color: red;
	
}

input.invalid, textarea.invalid {
	border: 4px solid red;
}

input.valid, textarea.valid {
	border: 4px solid green;
}

.focusField { 
    border:solid 2px #73A6FF;
    background:#EFF5FF;
    color:#000;
}


