.card {
	background: #FFF;
	border-radius: 10px;
	max-width: 578px;
	width: 100%;
	box-shadow: 0 1px 5px #C2C2C2;	
}

.card__registration
{
	height:930px;

}

.card__verify {
	height:600px;
	max-width:700px;
}