
.star {
	width: 16px;
	height: 16px;
	background: #DDD;
	display: inline-block;
    background: url("/static/assets/images/rating_star.png") 0 -16px no-repeat;
}

.star.is-active {
	background-position: 0 0;
}