{% extends 'base.html' %}

{% block title %}People@ assist - Menus{% endblock %}

{% block para %}
    <p> People@ assist - Menus </p>
{% endblock para%}

{% block content %}
<div class="content--menu">

  <main class="page-content">

    <section class="page page-register wrapper gradienttwo ">

      <div class="content">
    
        <table>
         
    
          <thead>
            <tr>
              <th>Data</th>
              <th>Titlu</th> 
              <th>Actiuni</th>
            </tr>
         </thead>

    {%for m in menu %}
          <tbody>
            <tr>
              <td>{{m.datta}}</td>
              <td>{{m.title}}</td> 
              <td><a class ="button--state-success form__button order__button stylizing" href = "{% url 'orders_by_menu' m.pk %}" > Vizualizare </a> </td>
            </tr>
        
          </tbody>

    {%endfor%}

        </table>

      </div>

    </section>

  </main>
  
</div>
 

{% endblock %}
