{% extends 'base.html' %}

{% block title %}People@ assist - Menus{% endblock %}

{% block para %}
    <p> People@ assist - Menus </p>
{% endblock para%}

{% block content %}

  <main class="page-content">
    <section class="page page-register wrapper gradient__ciorba ">
      <div class="content">
        <div class = "wrapper__table wrapper__menu">
          <table class ="table__view">
              <thead>
                <tr>
                  <th>Data</th>
                  <th>Titlu</th> 
                  <th>Actiuni</th>
                </tr>
              </thead>

                {%for m in menu %}
       
           
                <tr>
                  <td>{{m.datta}}</td>
                  <td>{{m.title}}</td> 
                  <td><a class ="button--state-success form__button form__order__button link--style" href = "{% url 'meniu:orders_by_menu' m.pk %}" > Vizualizare </a> </td>
                </tr>     

                {%endfor%}
    
          </table>
        </div>
      </div>
    </section>
  </main>

{% endblock %}


 