{% extends 'base.html' %}

{% block title %}People@ assist - Daily Menus{% endblock %}

{% block para %}
    <p> People@ assist -Daily Menus </p>
{% endblock para%}

{% block content %}
<table style="width:100%">
  <tr>
    <th>Titlu</th>
	<th>Fel 1</th>
	<th>Fel 2</th>
	<th>Desert</th>
    <th>Comanda</th>
  </tr>

{%for m in menu %}
  <tr>
    <td>{{m.title}}</td>
    <td>{{m.fel1}}</td>
    <td>{{m.fel2}}</td>
    <td>{{m.desert}}</td>
    <td> <a href = "{% url 'get_order' m.pk %}" > Comanda </a> </td>  
  </tr>
  {%endfor%}
</table>

{% endblock %}
