{% extends 'base.html' %}
{% load staticfiles %}
{%for message in messages %}
    {{ message }}
{% endfor %}

{% block content %}


<div class = "content--menu">
  <main class="page-content">
    <section class="page page-register gradientone">
    
      <article class="card">
        <form class="form" action="" method="post">

             {% csrf_token %}

          <div class="form__group">
            <input type="text" id="id_title" maxlength="200" name="title"  class="form__input form__component form__inputformtwo" placeholder="Titlu">
                     
          </div>
    
          <div class="form__group">
            <input type="text" id="id_datta" name="datta" class="form__input form__component form__inputformtwo" placeholder="Data">

          </div>
 
          <div class="form__group">
            <input type="text" id="id_fel1" maxlength="200" name="fel1"  class="form__input form__component form__inputformtwo" placeholder="Felul I">

          </div>

          <div class="form__group">
            <input type="text" id="id_fel2" maxlength="200" name="fel2" class="form__input form__component  form__inputformtwo" placeholder="Felul II">
            
          </div>

          <div class="form__group">
            <input type="text" id="id_desert" maxlength="200" name="desert"  class="form__input form__component form__inputformtwo" placeholder="Felul III">
              
          <button type="submit" class="form__button">Send</button>

          </div>
    
    
        </form>
      
      </article>
    
    </section>
    
  </main>

</div>

  {% endblock content%}



 
   
   

