html{

  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
     -webkit-filter: grayscale(50%); /* Chrome, Safari, Opera */
    filter: grayscale(60%);       /* optional, center the image */
}


#imgmenu


{
   -webkit-filter: grayscale(50%); /* Chrome, Safari, Opera */
    filter: grayscale(50%);       /* optional, center the image */
    border: 10px solid darkgray;
max-width: 100%;
    height: auto;
    width: auto\9; /* ie8 */
    position: relative;
}

