@media all and (max-width: 875px) {
    .header__welcome {
        display: none !important;
    } 

    .header__img-account {
        margin-left:72px;
        margin-top:-25px !important;
    }

    .header__img-logo {
        margin-top:25px !important;
        height:40px;
    }

    .header__welcome {
        margin-left:220px !important;   
    }

    .header__user {
        padding-right:10px !important;
    }

    .alignment {
        padding-left:10px !important;
    }

    .dropdown {
        margin-left:-150px !important;
        padding-top:8px;
    }
    
}


// PAGE
html {
    position: relative;
    min-height: 100%;
}

body {
    margin: 0 0 100px; 
}

body {
    position: relative;
    margin: 0;
    padding: 0;
}

// header.scss
.header__welcome  {
    float:right;
    margin-left:130px;
    position:fixed;
    white-space:nowrap;
    vertical-align: baseline;
    margin-top:-6px;
    padding-top:19px;
}

.header__user {
	text-align:center;
    float:right;
    padding-right:30px;
    margin-top:-67px;
}
//nemodificate
.dropdown__content a
{	
	margin-right:10px;
    display:inline;
    padding:0 20px;
	
}

.dropdown__content {
    margin:0 auto;
    max-width:600px;
    padding-top:30px;
    text-align:center;
}	
//nemodificate
.link--style {
    padding-top:20px;
}
//FOOTER

footer {
    position: fixed;
    bottom: 0;
    left: 0;
    z-index:20;
}
.footer__copyright {
    margin-top: 18px;
    text-align: center;
    padding-top: 4px;
}

// DEFAULT.HTML + DROP DOWN MENU
.dropdown {
    position: relative;
    display: block;
    margin-top :7px;


}

.dropdown__content {
    padding-top:20px;
    display:none;
    position:absolute;
    top:56px;
    left:369px;
}

.dropdown__button {
   padding-left:380px;   
}

.dropdown__content a { 
    padding: 12px 16px;
    display: block;
}

.dropdown:hover .dropdown__content {
    display: inline-block;
}



//TABLE

//scrollbar

&::-webkit-scrollbar {
background-color: #fff;
&-thumb {
background-color: #56CF90;
&:hover {
background-color: #56CF90;
}
}
}

tr {
    text-align: center;
}


th {
    text-align: center;
}

//for base table
.wrapper {
    margin-bottom:50px;
    text-align: center;
}

.content {
    margin-top:160px;
    padding:0 10px;
}

//
.container__table {
    width:48%;
    display:inline-block;
    vertical-align: top;
    padding: 0 10px;
}

.wrapper__table {
    
    overflow:auto;
    vertical-align: top;
     
    
   // DE CORECTAT

}

.wrapper__table__one
{

    margin-left:20px;
    margin-right:20px;
    overflow:auto;
    max-height:900px;

}

.wrapper__table__view {
    margin-left:20px;
    margin-right:20px;
    overflow:auto;
    max-height:600px;

}

.tableone > th {
	text-align:center;
	
}

.tabletwo {
	text-align:center;
}


.content {
    margin:0 auto;
    margin-top:70px;
    overflow:hidden;
}


.wrapper__daily
{

}

//MENU

.header {
    position: fixed;
    margin-top: -20px;
    margin-left: -2px;
    z-index:20;
    top:0px;
    left:0;
    display:block;
 
}

.alignment {
    padding-top: 23px;
    padding-left: 23px;
    text-align: left;
    margin-top:22px;
}

// FORM
.form {
    margin-top:10px;
    margin: 0 auto;
}

.form__group {
    margin-bottom: 10px;
    margin-top :30px;
}


.form__component {
    display: block;
    margin-bottom: 19px;

}

.form__input {
    padding: 20px;
    margin-bottom:36px;
}

.form__input__check {
    margin-top:50px;
}



.form__group__two
{
    margin-top:57px;
}



//FORM VALIDATION
.error_show {
    margin-left: 10px;
}

.error {
    margin-left:10px;
}



// IMAGES


.header__img-account {
    display:inline-block;
    padding-left:34px;
    height:83px;
    width:100%;
    max-width:110px;
    float:right;
    margin-top:-17px;
    content: url('/static/assets/images/Alexanders.png');
}



.header__img-logo {

    float:left;
    position:fixed;
    z-index:1000; 
    margin-top:-7px;
    vertical-align: baseline;
    display:inline-block;
    content:url('/static/assets/images/logo.png');
 

   
}

//BUTTONS

.form__button {
    display: block;
    margin: 20px;
    margin:0 auto;
    margin-top:57px;
}



.button--state-success {
    margin-top: 34px;
    margin-bottom: 35px;
    text-align: center;
    border-radius: 9px;
}

.form__button__submit {
    display: block;
    margin:0 auto;
    margin-top:54px;
}

//CORECT//


.page-register {
    position: relative;

}

.page-register {
    position: relative;
    z-index: 1;
    background-image: url('/static/assets/images/sasa.jpeg');
    background-repeat: no-repeat;
    background-position: 50% 50%;
    background-size: cover;
    padding-top:70px;
    padding-bottom:100px;
}

.page-register:before {
    position: absolute;
    z-index: 2;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    content: '';
    opacity: .3 ;
    background: rgb(242,245,246); /* Old browsers */
    background: -moz-linear-gradient(left, rgba(242,245,246,1) 0%, rgba(227,234,237,1) 37%, rgba(200,215,220,1) 100%); /* FF3.6-15 */
    background: -webkit-linear-gradient(left, rgba(242,245,246,1) 0%,rgba(227,234,237,1) 37%,rgba(200,215,220,1) 100%); /* Chrome10-25,Safari5.1-6 */
    background: linear-gradient(to right, rgba(242,245,246,1) 0%,rgba(227,234,237,1) 37%,rgba(200,215,220,1) 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#f2f5f6', endColorstr='#c8d7dc',GradientType=1 ); /* IE6-9 */
}

.page-register > * {
    position: relative;
    z-index: 10;
}

.gradient--addmenu {
    position: relative;
}

.gradient--addmenu {
    position: relative;
    z-index:2;
    background-image: url('/static/assets/images/spaghetti.png');
    background-repeat: no-repeat;
    background-position: 50% 50%;
    background-size: cover;
    padding-top:70px;
    padding-bottom:100px;
}

.gradient--addmenu:before {
    position: absolute;
    z-index:-1;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    content: '';
    opacity: .7;
    background: rgb(43,189,105); /* Old browsers */
    background: -moz-linear-gradient(left,  rgba(43,189,105,1) 1%, rgba(70,164,60,1) 28%, rgba(122,191,32,1) 59%, rgba(173,197,20,1) 84%, rgba(173,197,20,1) 100%, rgba(0,36,0,1) 100%); /* FF3.6-15 */
    background: -webkit-linear-gradient(left,  rgba(43,189,105,1) 1%,rgba(70,164,60,1) 28%,rgba(122,191,32,1) 59%,rgba(173,197,20,1) 84%,rgba(173,197,20,1) 100%,rgba(0,36,0,1) 100%); /* Chrome10-25,Safari5.1-6 */
    background: linear-gradient(to right,  rgba(43,189,105,1) 16%,rgba(70,164,60,1) 28%,rgba(122,191,32,1) 59%,rgba(173,197,20,1) 84%,rgba(173,197,20,1) 100%,rgba(0,36,0,1) 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#2bbd69', endColorstr='#002400',GradientType=1 ); /* IE6-9 */
}


.gradient__ciorba{
    position: relative;
}

.gradient__ciorba {
    position: relative;
    z-index: 1;
    background-image: url('/static/assets/images/ciorba.png');
    background-repeat: no-repeat;
    background-position: 50% 50%;
    background-size: cover;
    padding-top:70px;
    padding-bottom:100px;
}

.gradient__ciorba:before {
    position: absolute;
    z-index: 2;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    content: '';
    opacity: .8 ;
    background: rgb(238,238,238); /* Old browsers */
    background: -moz-linear-gradient(left, rgba(238,238,238,1) 0%, rgba(238,238,238,1) 77%); /* FF3.6-15 */
    background: -webkit-linear-gradient(left, rgba(238,238,238,1) 0%,rgba(238,238,238,1) 77%); /* Chrome10-25,Safari5.1-6 */
    background: linear-gradient(to right, rgba(238,238,238,1) 0%,rgba(238,238,238,1) 77%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#eeeeee', endColorstr='#eeeeee',GradientType=1 ); /* IE6-9 */
}



.default__gradient {
    position: relative;
}

.default__gradient {
    position: relative;
    z-index:2;
    background-image: url('/static/assets/images/desert.jpeg');
    background-repeat: no-repeat;
    background-position: 50% 50%;
    background-size: cover;
    padding-top:70px;
    padding-bottom:100px;
}

.default__gradient:before {
    position: absolute;
    z-index: 2;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    content: '';
    opacity: .3 ;
    background: rgb(242,245,246); /* Old browsers */
    background: -moz-linear-gradient(left, rgba(242,245,246,1) 0%, rgba(227,234,237,1) 37%, rgba(200,215,220,1) 100%); /* FF3.6-15 */
    background: -webkit-linear-gradient(left, rgba(242,245,246,1) 0%,rgba(227,234,237,1) 37%,rgba(200,215,220,1) 100%); /* Chrome10-25,Safari5.1-6 */
    background: linear-gradient(to right, #36C269 0%, #81C227 77%, #D8D91B 90%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#f2f5f6', endColorstr='#c8d7dc',GradientType=1 ); /* IE6-9 */

}

//CORECT/






// .mlabel {
//     display: inline-block;
//     margin-bottom: 10px;
//     padding-right: 15px;
//     padding-left: 15px;

//     vertical-align: bottom;
// }

.form__verify
{
    margin-bottom:40px;
    margin:0 auto;
}

.card {
    margin: 0 auto;
    padding: 10px;
}


.viewinput {
    text-align:center;
}

.form__verify__input
{
    margin:0 auto;
    margin-bottom:90px;
}


.error {
    display: none;
    
}       

.card__verify
{
    margin-top:30px;
    padding-top:100px;
}

