@media all and (max-width: 875px) {
   .accountwelcome {
        display: none !important;
    
    } 

    .img_account {
        margin-left:66px;
         margin-top:-35px;
    }

    .addlogo {
        padding-left:30px;
    }
   
}

@media all  and (max-width:1375px) {
    .menu-content  {
        display:none !important;
    }

}


@media all and (min-width:785px ) {
    .dropdown {
        display:none;
    } 
}


@media all and (min-width:890px ) and (max-width:1000px) {
    .menu-content {
        display:none !important;
    } 
}
// form va

@media only screen and (max-width: 1374px) {
    .addlogo {
        max-width:330px;
        height:70px;
        margin-left:20px;
    }


    .img_account{
        position:fixed;
        margin-top:-50px;
        right:30px;
        width:200px;
        height:100px;

    }

    .dropdown{
        display:block !important;
    }

}


// PAGE
html {
    position: relative;
    min-height: 100%;
}

body {
    margin: 0 0 100px; 
}

body {
    position: relative;
    margin: 0;
    padding: 0;
}

// header.scss
.p__welcome  {
    
    float:right;
    padding-left:120px;
    position:fixed;
    white-space:nowrap;
    vertical-align: baseline;
    margin-top:-6px;
    padding-top:19px;
   }

.menu__user {
	text-align:center;
    float:right;
    padding-right:30px;
    margin-top:7px;
}


.menu-content a
{	
	  margin-right:10px;
    display:inline;
    padding:0 20px;
	
}

.menu-content {

    margin:0 auto;
    max-width:600px;
    padding-top:30px;
    text-align:center;
}	
.stylizing
{
    padding-top:20px;
}
//FOOTER

footer {
    position: fixed;
    bottom: 0;
    left: 0;
    z-index:20;
}
.copyright {
    margin-top: 18px;
    text-align: center;
    padding-top: 4px;
}

// DEFAULT.HTML + DROP DOWN MENU
.dropdown {
    position: relative;
    display: block;
    margin-top :7px;
    float:left;
   
}
.dropdown-content {
    padding-top:40px;
    margin-top:61px;
    display: none;

}

.dropdown-content a { 
    padding: 12px 16px;
    display: block;
}

.dropdown:hover .dropdown-content {
    display: inline-block;
}



//TABLE



table {
   
   
     
}

tr {
    text-align: center;
}


th {
    text-align: center;
}


.wrapper {
    margin-bottom:50px;
    text-align: center;
}

.content {
    margin-left: 20px;
    margin-right: 12px;
    margin-top:160px;
}
.container__table
{
    width:50%;
    
    display:inline-block;


}

.wrapper__table
{
    margin-left:20px;
    margin-right:20px;
    overflow:auto;
    max-height:600px;

}


.tableone > th {
	text-align:center;
	
}

.tabletwo{
	
	text-align:center;
	
}

&::-webkit-scrollbar {
background-color: #fff;
&-thumb {
background-color: #56CF90;
&:hover {
background-color: #56CF90;
}
}
}

.table__view
{
  

}
.table__view td {
    padding-top:30px;

}


.table__daily
{
      width:100%;
    min-width:1168px;

}
.table__daily td
{  padding-top:30px;
    
}


.wrapper__table__daily{
    max-width:1268px;
    margin:0 auto;
    height:1000px;
    overflow:auto;
    margin-top:40px;

}
.stylizing
{
    margin:10px auto !important;
}

.wrapper__table__view{
    max-width:1268px;
    margin:0 auto;
    height:1000px;
    overflow:auto;
    margin-top:40px;

}
.content {
    margin:0 auto;
    margin-top:70px;
    overflow:hidden;
}


//MENU

.menu {
    position: fixed;
    margin-top: -20px;
    margin-left: -2px;
    z-index:20;
    top:0px;
    left:0;
    display:block;
 
}

.mlabel {
    display: inline-block;
    margin-bottom: 10px;
    padding-right: 15px;
    padding-left: 15px;

    vertical-align: bottom;
}


.alignment {
    padding-top: 23px;
    padding-left: 23px;
    text-align: left;
    margin-top:22px;
}



.menu{
    position: fixed;
    margin-top: -20px;
    margin-left: -2px;
    z-index:20;
    top:0px;
    left:0;
    display:block;
}


// FORM
.form {
    margin-top:10px;
    margin: 0 auto;
}

.form__group {
    margin-bottom: 10px;
}


.form__component {
    display: block;
    margin-bottom: 19px;

}

.form__input {
    padding: 20px;
    margin-bottom:36px;
}

.form__inputformtwo {
    margin-top:50px;
}

//FORM VALIDATION
.error_show {
    margin-left: 10px;
}

.error {
    margin-left:10px;
}

// CARD
.card {
    margin: 0 auto;
    padding: 10px;
}


// DIVS

.alignment {
    text-align:left;
    padding-top:2px;
}



// IMAGES


.img__account {
   
    display:inline-block;
    padding-left:34px;
    height:83px;
    width:100%;
    max-width:110px;
    float:right;
    
    margin-top:-17px;
    content: url('/static/assets/images/Alexanders.png');
}


.menu__dropdown {
	background-image:url('/static/assets/images/mobileicon.png');
    background-size:cover;

    background-repeat: no-repeat;
    background-position: 50% 50%;

}

.img__menu {
    width:80px;
    height:40px;
}

.img__logo {

    float:left;
    position:fixed;
    z-index:1000; 
    margin-top:7px;
    vertical-align: baseline;
    display:inline-block;
    content:url('/static/assets/images/logo.png');
 

   
}



//BUTTONS
.form__button {
    display: block;
    margin: 10px;
    margin-top: 60px;
    padding-top:24px;
}
.button--state-success {
    margin-top: 34px;
    margin-bottom: 35px;
    text-align: center;
    border-radius: 9px;
}

.addbtn {
    margin-top: 48px;
    margin-bottom: 145px;
}

.btn {
    display: inline-block;
    padding: 15px 32px;
    text-align: center;
}

.menu__drop__button {
    display: inline-block;
    padding: 15px 32px;
    text-align: center;
     float:left;
}

// register page

.page-register {
    position: relative;

}

.page-register .card {
    
}

.page-register {
    position: relative;
    z-index: 1;
    background-image: url('/static/assets/images/sasa.jpeg');
    background-repeat: no-repeat;
    background-position: 50% 50%;
    background-size: cover;
    padding-top:70px;
    padding-bottom:100px;
}

.page-register:before {
    position: absolute;
    z-index: 2;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    content: '';
    opacity: .3 ;
    background: rgb(242,245,246); /* Old browsers */
background: -moz-linear-gradient(left, rgba(242,245,246,1) 0%, rgba(227,234,237,1) 37%, rgba(200,215,220,1) 100%); /* FF3.6-15 */
background: -webkit-linear-gradient(left, rgba(242,245,246,1) 0%,rgba(227,234,237,1) 37%,rgba(200,215,220,1) 100%); /* Chrome10-25,Safari5.1-6 */
background: linear-gradient(to right, rgba(242,245,246,1) 0%,rgba(227,234,237,1) 37%,rgba(200,215,220,1) 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#f2f5f6', endColorstr='#c8d7dc',GradientType=1 ); /* IE6-9 */

}

// addmenu page
.page-register > * {
    position: relative;
    z-index: 10;
}

// BACKGROUND  ADDMENU.HTML

.gradientone {
    position: relative;

}

.gradientone {
    position: relative;
    z-index:2;

    background-image: url('/static/assets/images/spaghetti.png');
    background-repeat: no-repeat;
    background-position: 50% 50%;
    background-size: cover;
    padding-top:70px;
    padding-bottom:100px;
}

.gradientone:before {
    position: absolute;
    z-index: 2;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;

    content: '';
    opacity: .3 ;
        //colorzilla.com/gradient-editor/#72aa00+51,bfd255+86,9ecb2d+100 */
    background: rgb(242,245,246); /* Old browsers */
background: -moz-linear-gradient(left, rgba(242,245,246,1) 0%, rgba(227,234,237,1) 37%, rgba(200,215,220,1) 100%); /* FF3.6-15 */
background: -webkit-linear-gradient(left, rgba(242,245,246,1) 0%,rgba(227,234,237,1) 37%,rgba(200,215,220,1) 100%); /* Chrome10-25,Safari5.1-6 */
background: linear-gradient(to right, #36C269 0%, #81C227 77%, #D8D91B 90%);
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#f2f5f6', endColorstr='#c8d7dc',GradientType=1 ); /* IE6-9 */

}

//BACKGROUND GRADIENT ORDERVISUALIZATION.HTML

.gradienttwo {
    position: relative;

}

.gradienttwo {
    position: relative;
    z-index: 1;

    background-image: url('/static/assets/images/ciorba.png');
    background-repeat: no-repeat;
    background-position: 50% 50%;
    background-size: cover;
    padding-top:70px;
    padding-bottom:100px;
}

.gradientwo:before {
    position: absolute;
    z-index: 2;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;

    content: '';
    opacity: .3 ;
        //colorzilla.com/gradient-editor/#72aa00+51,bfd255+86,9ecb2d+100 */
    background: rgb(242,245,246); /* Old browsers */
background: -moz-linear-gradient(left, rgba(242,245,246,1) 0%, rgba(227,234,237,1) 37%, rgba(200,215,220,1) 100%); /* FF3.6-15 */
background: -webkit-linear-gradient(left, rgba(242,245,246,1) 0%,rgba(227,234,237,1) 37%,rgba(200,215,220,1) 100%); /* Chrome10-25,Safari5.1-6 */
background: linear-gradient(to right, rgba(242,245,246,1) 0%,rgba(227,234,237,1) 37%,rgba(200,215,220,1) 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#f2f5f6', endColorstr='#c8d7dc',GradientType=1 ); /* IE6-9 */

}

// GRADIENT BACKGROUND REGISTER.HTML

.gradientthree {
    position: relative;

}

.gradientthree {
    position: relative;
    z-index: 1;

    background-image: url('/static/assets/images/sasa.jpeg');
    background-repeat: no-repeat;
    background-position: 50% 50%;
    background-size: cover;
    padding-top:70px;
    padding-bottom:100px;
}
 
.gradientthree:before {
    position: absolute;
    z-index: 2;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;

    content: '';
    opacity: .8 ;
        //colorzilla.com/gradient-editor/#72aa00+51,bfd255+86,9ecb2d+100 */
    background: rgb(242,245,246); /* Old browsers */
background: -moz-linear-gradient(left, rgba(242,245,246,1) 0%, rgba(227,234,237,1) 37%, rgba(200,215,220,1) 100%); /* FF3.6-15 */
background: -webkit-linear-gradient(left, rgba(242,245,246,1) 0%,rgba(227,234,237,1) 37%,rgba(200,215,220,1) 100%); /* Chrome10-25,Safari5.1-6 */
background: linear-gradient(to right, rgba(242,245,246,1) 0%,rgba(227,234,237,1) 37%,rgba(200,215,220,1) 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#f2f5f6', endColorstr='#c8d7dc',GradientType=1 ); /* IE6-9 */

}


.default__gradient {
    position: relative;

}

.default__gradient {
    position: relative;
    z-index:2;

    background-image: url('/static/assets/images/desert.jpeg');
    background-repeat: no-repeat;
    background-position: 50% 50%;
    background-size: cover;
    padding-top:70px;
    padding-bottom:100px;
}

.default__gradient:before {
    position: absolute;
    z-index: 2;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;

    content: '';
    opacity: .3 ;
        //colorzilla.com/gradient-editor/#72aa00+51,bfd255+86,9ecb2d+100 */
    background: rgb(242,245,246); /* Old browsers */
background: -moz-linear-gradient(left, rgba(242,245,246,1) 0%, rgba(227,234,237,1) 37%, rgba(200,215,220,1) 100%); /* FF3.6-15 */
background: -webkit-linear-gradient(left, rgba(242,245,246,1) 0%,rgba(227,234,237,1) 37%,rgba(200,215,220,1) 100%); /* Chrome10-25,Safari5.1-6 */
background: linear-gradient(to right, #36C269 0%, #81C227 77%, #D8D91B 90%);
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#f2f5f6', endColorstr='#c8d7dc',GradientType=1 ); /* IE6-9 */

}








.mlabel {
    display: inline-block;
    margin-bottom: 10px;
    padding-right: 15px;
    padding-left: 15px;

    vertical-align: bottom;
}


.alignment {
    padding-top: 23px;
    padding-left: 23px;
    text-align: left;
    margin-top:22px;
}
