{% load staticfiles %}

<!DOCTYPE html>
<html lang="en">
<head>
    <!-- <link rel="stylesheet" href="style.css" /> -->
    <title>{% block title %} <p> People@ assist </p> {% endblock %}</title>
    {% block para %}
    <p> People@ assist </p>
    {% endblock %}
    <link rel="stylesheet" type="text/css" href="{% static 'css/style.css' %}" />
</head>

<body class = "test">
   <!--  <div id="sidebar">
        {% block sidebar %}
        <ul>
            <li><a href="/">Home</a></li>
            <li><a href="/blog/">Blog</a></li>
        </ul>
        {% endblock %}
    </div> -->

    <div id="content">
        {% block content %}{% endblock %}
    </div>
</body>
</html>