{% load staticfiles %}

<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8" />
  <meta http-equiv="x-ua-compatible" content="ie=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">  
  <title>People @ASSIST</title>
  <link href='https://fonts.googleapis.com/css?family=Lato:400,300,300italic,400italic,700,700italic' rel='stylesheet' type='text/css'>
    <script src="{% static 'dist/assets/js/app.js' %}"></script>
    <link href="//netdna.bootstrapcdn.com/font-awesome/4.2.0/css/font-awesome.min.css" rel="stylesheet">
  <script src="http://ajax.googleapis.com/ajax/libs/jquery/2.0.2/jquery.min.js"></script>

  <link rel="stylesheet" href="{% static 'dist/assets/css/app.css' %}">
</head>

<body>
  <div class = "header">
    <div class ="alignment"> 

      <a class ="header__img-logo" href="{% url 'meniu:get_name'%}"></a>

      <div class="header__dropdown dropdown">
        <button class="dropdown__button"><div class="dropdown__menu"><p class="dropdown__menu-name" >Menus</p></div></button>
        <div class="dropdown__content">
         
          <a href="{% url 'meniu:get_name'%}" ">Add Menu</a>
          <a href="{% url 'meniu:view-menu'%}">View orders</a>
          <a href="{% url 'meniu:view-daily'%}">Add Order</a>
          <a href="{% url 'order:check_code'%}">Check order</a>
         
        </div>  
      </div>
    </div>

    <div class="header__user">
      <p class="header__welcome">Hello, David Alexandr</p>
        <div class="header__img-account">
        </div>
    </div>

  </div>


  
  <div class="content-base">
  {% block content %}
   {% endblock %}
  </div>       
   <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.1/jquery.min.js"></script>
</body>

<footer>
  <p class="footer__copyright">Copyright 2016. The Archers</p>
</footer>

</html>